// ### Primary
// - Desaturated Red: hsl(0, 36%, 70%)
$desat-red: hsl(0, 36%, 70%);
// - Soft Red: hsl(0, 93%, 68%)
$soft-red: hsl(0, 93%, 68%);

// ### Neutral
// - Dark Grayish Red: hsl(0, 6%, 24%)
$dark: hsl(0, 6%, 24%);

// ### Gradients
// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
$linear-white: linear-gradient(135deg, hsl(0, 0%, 100%) to hsl(0, 100%, 98%));
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
$linear-pink: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
