@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
$font-family: 'Josefin Sans', sans-serif;
$thin: 300;
$regular: 400;
$semi-bold: 600;
$fs-400: calc(16rem / 16);
$fs-600: calc(32rem / 16);