@use "./fonts" as *;
@use './colors' as *;
@use './media-queries' as *;
/*---------------------------*/
/* Reset                     */
/*---------------------------*/
/* Box sizing */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Margins */
body, h1, h2, p, picture {
    margin: 0;
}

/* Body */
body {
    font-family: $font-family;
    color: $desat-red;
    font-size: $fs-400;
    background-image: $linear-white;
    line-height: 1.5;
    min-height: 100vh;
}

/* Img */
img, picture {
    display: block;
    max-width: 100%;
}

/* Form elements */
input, button, select {
    font: inherit;
}

/* Remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
	*, *::before, *::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*---------------------------*/
/* Utility classes           */
/*---------------------------*/
/* General */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding: 1rem;
    margin: 1.5rem auto .5rem;
    max-width: 40rem;
}

.sr-only { /* screen reader */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
    clip-path: none;
	white-space: nowrap;
	border: 0;
}

/* Colors */
.accent {
    color: $dark;
}

/* Typography */
.fw-300 {
    font-weight: $thin;
}
.fw-400 {
    font-weight: $regular;
}
.fw-600 {
    font-weight: $semi-bold;
}

.uppercase {
    text-transform: uppercase;
}