@use "../base/" as *;
.form {
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: .5rem;
    margin-bottom: 2rem;
    position: relative;

    &__input {
        padding: 1rem 1.5rem;
        width: 100%;
        color: $dark;
        background-color: transparent;
        border: 1px solid $desat-red;
        border-radius: inherit;
        position: relative;
        &::placeholder {
            color: $desat-red;
        }
        &:invalid {
            background-image: url(/public/images/icon-error.svg);
            background-repeat: no-repeat;
            background-position: center right 5.5em;
            outline: 1px solid $soft-red;
        }
    }

    &__btn {
        position: absolute;
        right: 0;
        border: none;
        border-radius: 35px;
        background: $linear-pink;
        box-shadow: 0 3px 9px hsl(0, 0%, 60%, .6);
        aspect-ratio: 2.2 / 1;
        padding: 1.2rem;
        display: grid;
        place-items: center;
        cursor: pointer;

        &:hover, &:focus {
            background: hsl(0, 56%, 89%);
            transform: scale(1.05);
            transition: transform 200ms ease-in ;
        }
    }
    
    &:invalid::after { //display:none?
        content: 'Please provide a valid email';
        color: $soft-red;
        position: absolute;
        top: 4em;
        left: 1.5em;
    }

    @include desktop {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.error-input {
    background-image: url(/public/images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: center right 5.5em;
    outline: 1px solid $soft-red;
}
.error-msg::after {
    content: 'Please provide a valid email';
    color: $soft-red;
    position: absolute;
    top: 4em;
    left: 1.5em;
}