@use '../base/' as *;
@use './form';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {

    font-family: $font-family;
    background-color: $linear-white;
    @include desktop {
        background-image: url("../../public/images/bg-pattern-desktop.svg");
    }
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
        grid-row: span 2;
    }
}

main {
    padding: 2rem 0;

    #logo {
        width: 25%;
        margin: 0.5rem 0 2rem 2.5rem;

        @include desktop {
            width: 15em;
            margin: 5rem 0 0 12rem;
        }
    }

    @include desktop {
        padding: 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 4fr;
    }
}

.main {
    color: $desat-red;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;

    &__title {
        font-size: 3.5rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.8rem;
        padding: 0 2rem 0;
        margin-top: 5rem;

        &--highlight {
            font-weight: 600;
            color: $dark;
        }
    }

    &__message {
        font-size: 1.5rem;
        padding: 0 2rem 0;
        margin: 1.5rem 0 3rem;
    }

    @include desktop {
        text-align: left;
        margin: 10rem;

        &__title {
            font-size: 5.5rem;
            line-height: 1.2;
            letter-spacing: 1.5rem;
            margin: 0 4rem 0 0;
        }
    
        &__message {
            font-size: 2rem;
            margin: 1.5rem 4rem 3rem 0;
        }
    }
}

.attribution {
    position: absolute;
    top: -100px;
    left: -100px;
}