@use '../base/' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    // font-size: 1.6rem;
    font-family: $font-family;
    background-color: $linear-white;
    // bg-pattern for desktop
}

main {
    // border: 2px solid blue;
    padding: 2rem 0;

    #logo {
        width: 25%;
        max-width: 40%;
        margin: 0.5rem 0 2rem 2.5rem;
    }

    // .hero {
    //     border: 2px solid purple;
    //     // object-fit for img?
    // }
}

.main {
    // border: 2px solid green;
    margin: 5rem 8rem 3rem;
    // margin: 2rem 5rem;
    color: $desat-red;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;

    &__title {
        // border: 2px solid yellow;
        font-size: 3.5rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.5rem;
        padding-bottom: 1rem;

        &--highlight {
            font-weight: 600;
            color: $dark;
        }
    }

    &__message {
        font-size: 1rem;
    }
}